asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.1.7
django-4-jet @ https://github.com/Barukimang/django-jet/archive/dev.zip#sha256=73bfdc1ee258ae78c2a1149bea889de8d8a70b1b5807c769c5277f1b40bab499
Pillow==10.0.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
